*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* generali */
  h1,h2,h3{
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
  }
  
  a{
    text-decoration: none;
  }
  
  p{
    line-height: 1.6;
  }

  .flex{
    display: flex;
  }

  .relative{
    position: relative;
  }

  .absolute{
    position: absolute;
  }

  .pointer{
    cursor: pointer;
  }
  /* / generali */
  
  body{
    background-color: #1f1e38;
  }
  
  /* header */
  header{
    width: 100%;
    height: 750px;
  }
  
  header .head-left-bg{
    width: 30%;
    height: 100%;
    float: left;
  }
  
  header .head-right-bg{
    width: 70%;
    height: 100%;
    float: left;
    background-image: url('../img/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .container{
    width: 90%;
    height: 100%;
    margin: auto;
  }
  
  .container nav{
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo{
    width: 10%;
  }
  
  nav .logo img{
    width: 100%;
  }
  
  nav .nav-right{
    height: 100%;
    justify-content: right;
    align-items: center;
  }
  
  .nav-right a{
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    line-height: 90px;
    margin-left: 20px;
  }
  
  .nav-right a:first-of-type{
    font-weight: 700;
    border-top: 4px solid white;
    line-height: 82px;
  }
  
  .nav-right a:hover,
  .nav-right a:active{
    font-weight: 700;
    border-top: 4px solid white;
    line-height: 82px;
  }
  
  .container .jumbo{
    width: 100%;
    height: calc(750px - 90px);
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
  }
  
  .jumbo .jumbo-content{
    top: 50%;
    transform: translateY(-50%);
  }
  
  .jumbo-content span,
  .jumbo-content p{
    display: inline-block;
  }
  
  .jumbo-content span{
    width: 60px;
    height: 3px;
    border-bottom: 4px solid #39ffbf;
    margin-right: 20px;
  }
  
  .jumbo-content h1{
    max-width: 600px;
    font-size: 85px;
  }
  
  .jumbo-content .button{
    width: 30%;
    padding: 20px 0;
    text-align: center;
    background-color: #39ffbf;
    color: black;
    display: inline-block;
  }
  
  .jumbo-content .button:hover{
    padding: 16px 0;
    border: 1px solid black;
    background-color: #f00e2e;
    color: #fff;
    transition-duration: 0.1s;
    transition-timing-function: linear;
  }
  
  .jumbo-content i{
    padding: 10px 20px;
    font-size: 30px;
    color: #39ffbf;
    vertical-align: bottom;
    margin-left: 40px;
    border: 2px solid white;
    border-radius: 50%;
  }
  /* / header */

  /* main */
/* first section */
#consultants{
    padding: 80px 0 100px 200px;
    background-color: #fff;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #consultants .title{
    flex-basis: 100%;
    align-items: center;
  }
  
  #consultants h2{
    margin-right: 40px;
  }
  
  #consultants span{
    height: 3px;
    flex-grow: 1;
    border: 2px solid #39ffbf;
    background-color: #39ffbf;
  }
  
  #consultants .info-box{
    margin-top: 80px;
    flex-basis: 50%;
  }
  
  #consultants .image-box{
    height: 50%;
    padding: 10px 12px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: #f81d39;
  }
  
  #consultants .text{
    flex-basis: 65%;
  }
  
  #consultants .text p{
    margin-top: 20px;
  }
  /* / first section */

   /* second section */
   #about{
    width: 100%;
    height: 850px;
    padding-right: 5%;
    flex-wrap: wrap;
  }
  
  #about .left{
    flex-basis: 60%;
    height: 80%;
    background-image: url('../img/business-people-working-together-on-project-and-5FHSKBL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #about .right{
    flex-basis: 40%;
    height: 80%;
    padding-left: 40px;
    align-items: center;
  }
  
  #about .right .info-box{
    color: #fff;
  }
  
  #about .right .info-box span{
    text-transform: uppercase;
  }
  
  #about .right .info-box span:first-of-type{
    width: 60px;
    height: 3px;
    margin-right: 20px;
    border-bottom: 3px solid #39ffbf;
    display: inline-block;
  }
  
  #about .right .info-box h2{
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 40px;
  }
  
  #about .bottom{
    height: 20%;
    flex-basis: 100%;
    background-color: #39ffbf;
    justify-content: center;
    align-items: center;
  }
  
  #about .bottom h2{
    flex-basis: 20%;
  }
  
  #about .bottom p{
    flex-basis: 25%;
    margin-left: 20%;
    font-size: 12px;
  }
  
  #about .bottom .button{
    right: 0;
    bottom: 0;
    padding: 20px 40px;
    background-color: #f71e3a;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
  }
  
  #about .bottom .button:hover{
    border: 1px solid black;
    transition-duration: 0.1s;
    transition-timing-function: linear;  
  }
/* / second section */

/* third section */
#project{
  margin-top: 150px;
  color: #fff;
  text-transform: uppercase;
}

#project span:first-of-type{
  display: inline-block;
  width: 50px;
  border-bottom: 3px solid #39ffbf;
  margin-right: 20px;
}

#project .title-box{
  margin: 40px 0;
  justify-content: space-between;
  align-items: center;
}

#project .title-box h2{
  flex-basis: 50%;
  font-size: 30px;
}

#project .title-box .back-forward img{
  margin-left: 10px;
  background-color: #36354c;
  height: 70px; 
}

#project .title-box .back-forward img:nth-child(1):hover,
#project .title-box .back-forward img:nth-child(2):hover{
  border: 1px solid black;
  background-color: #39ffbf;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

#project .image-container{
  margin-bottom: 100px;
  justify-content: space-between;
}

#project .image-container .image-box{
  flex-basis: 32%;
}

#project .image-container .image-box img{
  width: 100%;
}

#project .image-box .layover{
  width: 102%;
  height: 102%;
  padding: 20px;
  background-color: rgba(219, 0, 0, 0.699);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  text-transform: none;
  justify-content: space-between;
  align-items: flex-end;
}

#project .image-box .layover p:first-of-type{
  font-weight: 700;
  font-size: 20px;
}

#project .image-box .layover .button{
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: black;
  justify-content: center;
  align-items: center;
}
/* / third section */

/* fourth section */
#testimonial{
  margin-bottom: 180px;
  color: #fff;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#testimonial .container{
  flex-wrap: wrap;
  justify-content: flex-end;
}

#testimonial .top{
  margin-left: 40%;
  flex-basis: 50%;
  justify-content: space-between;
}

#testimonial .top span:first-of-type{
  text-transform: uppercase;
  vertical-align: bottom;
}

#testimonial .top span:last-of-type{
  width: 40px;
  display: inline-block;
  border-bottom: 3px solid #39ffbf;
}

#testimonial .title{
  width: 30%;
  margin: 20px 0;
  font-size: 18px;
  text-align: right;
}

#testimonial .content-box{
  width: 95%;
  padding-right: 5%;
  background-color: #fff;
  justify-content: space-between;
}

#testimonial .content-box .text-box{
  height: 100%;
  flex-basis: 32%;
  color: black;
}

#testimonial .content-box .text-box p:first-of-type,
#testimonial .content-box .text-box p:last-of-type{
  margin: 0 40px;
  color: gray;
}

#testimonial .content-box .text-box p:first-of-type{
  margin-top: 40px;
}

#testimonial .content-box .text-box p:last-of-type{
  margin-bottom: 70px;
}

#testimonial .content-box .text-box p:nth-child(2){
  margin: 50px 40px 0 40px;
  font-weight: 700;
  font-size: 18px;
}

#testimonial .content-box .text-box:first-of-type:hover{
  background-image: url('../img/oliver-ragfelt-488196-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

#testimonial .content-box .text-box:first-of-type:hover p:first-of-type,
#testimonial .content-box .text-box:first-of-type:hover p:last-of-type,
#testimonial .content-box .text-box:nth-of-type(2):hover p:first-of-type,
#testimonial .content-box .text-box:nth-of-type(2):hover p:last-of-type,
#testimonial .content-box .text-box:last-of-type:hover p:first-of-type,
#testimonial .content-box .text-box:last-of-type:hover p:last-of-type{
  color: #fff;
}

#testimonial .content-box .text-box:nth-of-type(2):hover{
  background-image: url('../img/12679.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

#testimonial .content-box .text-box:last-of-type:hover{
  background-image: url('../img/oliver-ragfelt-488196-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
/* / fourth section */

/* fifth section */
#blog{
  margin-bottom: 250px;
}

#blog span:first-of-type{
  width: 40px;
  display: inline-block;
  border-bottom: 3px solid #39ffbf;
}

#blog span:nth-child(2){
  margin-left: 20px;
  color: #fff;
  text-transform: uppercase;
}

#blog .title-box{
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

#blog .title-box h2{
  color: #fff;
}

#blog .button{
  padding: 12px 30px;
  text-align: center;
  background-color: #39febe;
  color: black;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

#blog .button:hover{
  padding: 8px 26px;
  border: 2px solid black;
  background-color: red;
  color: #fff;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

#blog .main-box{
  justify-content: space-between;
}

#blog .left-box,
#blog .right-box{
  width: 48%;
}

#blog img{
  width: 100%;
}

#blog .left-box .text-box,
#blog .right-box .text-box{
  width: 80%;
  padding: 30px 80px 30px 40px;
  position: absolute;
  right: 0;
  bottom: -18%;
  background-color: #fff;
}

#blog .text-box p:first-of-type{
  color: red;
}

#blog .text-box h3{
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: none;
}

#blog .text-box p:last-of-type{
  max-width: 90%;
  font-size: 12px;
  color: gray;
}
/* / fifth section */