*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* generali */
  h1,h2,h3{
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
  }
  
  a{
    text-decoration: none;
  }
  
  p{
    line-height: 1.6;
  }
  /* / generali */
  
  body{
    background-color: #1f1e38;
  }
  
  /* header */
  header{
    width: 100%;
    height: 750px;
  }
  
  header .head-left-bg{
    width: 30%;
    height: 100%;
    float: left;
  }
  
  header .head-right-bg{
    width: 70%;
    height: 100%;
    float: left;
    background-image: url('../img/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .container{
    width: 90%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  
  .container nav{
    width: 100%;
    height: 90px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo{
    width: 10%;
  }
  
  nav .logo img{
    width: 100%;
  }
  
  nav .nav-right{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .nav-right a{
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    line-height: 90px;
    margin-left: 20px;
  }
  
  .nav-right a:first-of-type{
    font-weight: 700;
    border-top: 4px solid white;
    line-height: 82px;
  }
  
  .nav-right a:hover,
  .nav-right a:active{
    font-weight: 700;
    border-top: 4px solid white;
    line-height: 82px;
  }
  
  .container .jumbo{
    width: 100%;
    height: calc(750px - 90px);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
  }
  
  .jumbo .jumbo-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .jumbo-content span,
  .jumbo-content p{
    display: inline-block;
  }
  
  .jumbo-content span{
    width: 60px;
    height: 3px;
    border-bottom: 4px solid #39ffbf;
    margin-right: 20px;
  }
  
  .jumbo-content h1{
    max-width: 600px;
    font-size: 85px;
  }
  
  .jumbo-content .button{
    width: 30%;
    padding: 20px 0;
    text-align: center;
    background-color: #39ffbf;
    color: black;
    display: inline-block;
    cursor: pointer;
  }
  
  .jumbo-content .button:hover{
    padding: 16px 0;
    border: 4px solid black;
    background-color: #f00e2e;
    color: #fff;
    transition-duration: 0.1s;
    transition-timing-function: linear;
  }
  
  .jumbo-content i{
    padding: 10px 20px;
    font-size: 30px;
    color: #39ffbf;
    vertical-align: bottom;
    margin-left: 40px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
  }
  /* / header */

  /* main */
/* first section */
#consultants{
    padding: 80px 0 100px 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #consultants .title{
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }
  
  #consultants h2{
    margin-right: 40px;
  }
  
  #consultants span{
    height: 3px;
    flex-grow: 1;
    border: 2px solid #39ffbf;
    background-color: #39ffbf;
  }
  
  #consultants .info-box{
    margin-top: 80px;
    flex-basis: 50%;
    display: flex;
  }
  
  #consultants .image-box{
    height: 50%;
    padding: 10px 12px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: #f81d39;
  }
  
  #consultants .text{
    flex-basis: 65%;
  }
  
  #consultants .text p{
    margin-top: 20px;
  }
  /* / first section */

   /* second section */
#about{
  width: 100%;
  height: 850px;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
}

#about .left{
  flex-basis: 60%;
  height: 80%;
  background-image: url('../img/business-people-working-together-on-project-and-5FHSKBL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#about .right{
  flex-basis: 40%;
  height: 80%;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

#about .right .info-box{
  color: #fff;
}

#about .right .info-box span{
  text-transform: uppercase;
}

#about .right .info-box span:first-of-type{
  width: 60px;
  height: 3px;
  margin-right: 20px;
  border-bottom: 3px solid #39ffbf;
  display: inline-block;
}

#about .right .info-box h2{
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 40px;
}

#about .bottom{
  height: 20%;
  flex-basis: 100%;
  background-color: #39ffbf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about .bottom h2{
  flex-basis: 20%;
}

#about .bottom p{
  flex-basis: 25%;
  margin-left: 20%;
  font-size: 12px;
}

#about .bottom .button{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px 40px;
  background-color: #f81d39;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

#about .bottom .button:hover{
  border: 3px solid black;
  transition-duration: 0.1s;
  transition-timing-function: linear;  
}
/* / second section */

